:root {
    --Grey: rgb(93, 93, 93);
    --Green: #00af66;
}

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--Grey);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    background: radial-gradient(circle, rgba(24, 24, 24, 0.438) 57%, #00af6644 100%), url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;
    max-width: 100%;
    background-color: white;
    border-radius: 1rem;

    padding: 1rem;
    margin: 3rem;
}

/* * HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    margin: 1rem;
}

.header_logo img {
    width: 100%;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 24rem;
}

.header_item {
    font-size: 1.4rem;
}

.header_item a {
    text-decoration: none;
    color: var(--Grey);
    transition: 0.2s;
}

.header_item a:hover {
    color: var(--Green);
    transition: 0.2s;
}

/* * Container developer */

.container_developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.img:hover {
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.89);
    transition: 0.2s;
}

.img img {
    height: 100%;
}

.name {
    text-align: center;
    font-size: 1.6rem;
    color: var(--Grey);

    margin-top: 2rem;
}

.profesion {
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: normal;
}

.caption {
    font-size: 1.2rem;
    color: var(--Grey);
}

/* * Redes sociales */

.nav {
    display: flex;
    width: 16rem;
    margin: 2rem 0;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3.5rem;
}

.nav_items a {
    font-size: 2.5rem;
    color: var(--Grey);
    transition: 0.2s;
}

.nav_items a:hover ion-icon {
    color: var(--Green);
    font-size: 3rem;
    transition: 0.2s;
}

/* * separador */

.separador {
    width: 90%;
    max-width: 50rem;
    height: 2px;
    background-color: var(--Grey);
}

/* * about */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.about .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.about .text h2 {
    color: var(--Grey);
    font-size: 2rem;
    font-weight: normal;
    margin: 2rem 0;
}

.about .text h2 span {
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.about .text p {
    max-width: 45rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--Grey);
}

.ability {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ability_target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23rem;
    margin: 1rem;
}

.ability_target img {
    width: 15rem;
}

.ability_target h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

.ability_target p {
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem 0;
}

.ability_target a {
    font-size: 1.4rem;
    color: var(--Green);
}

/* * Responsive */

@media (min-width: 600px) {
}

@media (min-width: 800px) {
    .ability {
        flex-direction: row;
    }
}
